@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideOut {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(270px);
  }
}
  
.menu-open {
  animation: slideIn 0.3s ease forwards;
}

.menu-close {
  animation: slideOut 0.3s ease forwards;
}


@keyframes slideIn {
  from {
      transform: translateX(270px);
  }
  to {
      transform: translateX(0px);
  }
}

#menu {
    animation: none; /* Initially, no animation */
}

.slideIn {
    animation: slideIn 0.5s ease forwards;
}

  